# Binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.so

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# IDE specific files
*.swo
*.swp
.idea/
.vscode/

# OS specific files
*.log
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Binary output directory
/bin/
/dist/

# Local environment variables
.env
.env.local

**/.crush/**

/chromadebug
/crush
/tmp/

.prettierignore
completions/crush.*sh
manpages/

.claude-context.md
.local/
.ralph/
crush-test
screenshots/

# Versioned builds directory
/builds/
internal/ui/logo/
/TODO.md
